<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>486983763555-rt0ha63vphd8bsvj2tcs0bi2544engko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486983763555-rt0ha63vphd8bsvj2tcs0bi2544engko</string>
	<key>API_KEY</key>
	<string>AIzaSyCJzqvlCfPeBl0RHarxbC9EF1-6c84H0eU</string>
	<key>GCM_SENDER_ID</key>
	<string>486983763555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nadavbarlev.Github</string>
	<key>PROJECT_ID</key>
	<string>github-8e7e2</string>
	<key>STORAGE_BUCKET</key>
	<string>github-8e7e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486983763555:ios:64175112f8b6129d</string>
	<key>DATABASE_URL</key>
	<string>https://github-8e7e2.firebaseio.com</string>
</dict>
</plist>